header#logo{
    padding: 30px 45px;
    border-bottom: 1px solid #313437;
    display: block;
}
.logo{
    display: initial;
}
.settings-icon {
    float: right;
    position: relative;
    font-size: 20px;
    margin-top: -1px;
}
.settings-icon a {
    color: #979898;
    line-height: 1;

}

ul#main-menu{
    padding:0PX 30PX
}
