<div class="container-fluid main-content">

    <!-- Basic Setup -->
    <div class="panel panel-default" style="background-color: white;">
        <div class="panel-heading">
            <h3 class="panel-title">
            
            PRODUTOS <!-- Table Name -->
            
            <a href="/item/create" class="btn btn-success">CADASTRAR</a>
            
            </h3>
            
            <div class="panel-options">
                <a href="#" data-toggle="panel">
                    <span class="collapse-icon">&ndash;</span>
                    <span class="expand-icon">+</span>
                </a>
                <a href="#" data-toggle="remove">
                    &times;
                </a>
            </div>
        </div>
        <div class="panel-body">
            <router-outlet></router-outlet>
        </div>
    </div>
    </div>
